* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
   line-height: 150%;

}

:root {
  --now: #17bebb;
  --no_project: #bebebe;
  --project: #F3511B;
  --highlight: #E0CA3C;
  --grey: #4c4c4c;
}


#start {
  display: flex;
  align-items: center;
}



#welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: normal;
  align-content: stretch;

  padding: 0;
  margin: 0;
  width: 100%;
  height:auto;
  background: white;
}


.background {
  width: 100%;
  height: 100%;
}

#pageContainer {
  width: 100%;
  height: 90%;
  padding: 2%;
}

#footer {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1 {
  text-align: center;
  background-color: transparent;
  color: var(--project);
  border-radius: 10px;
  border: 1px solid var(--project);
  margin: 2%;
  padding: 10px;
  font-size: 3vh;
  min-width: 20vw;
}

.btn1:hover {
  background-color: var(--project);
  color: white;
}

.btn2 {
  text-align: center;
  background-color: transparent;
  color: var(--grey);
  border-radius: 10px;
  border: 1px solid var(--grey);
  margin: 2%;
  padding: 10px;
  font-size: 3vh;
  min-width: 20vw;
}

.btn2:hover {
  background-color: var(--grey);
  color: white;
}

.page {
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;

}

.active {
  display: block;
}

.pageTitle {
  width: 100%;
  height: 15%;
  font-size: 5vh;
}

.element {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.labelText {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 3vh;
  width: 50vw;

}

.input {
  width: 40% !important;
  display: flex;
  flex-direction: row;
}

.inputField {
  border-radius: 10px;
  border: 1px solid var(--project);
  margin: 2%;
  padding: 0px 10px;
  font-size: 2vh;
  height: 8vh;
}

@media screen and (max-width: 600px) {
  .input {
    width: 100% !important;
  }

}

.slider {
  -webkit-appearance: none;
  height: 5px;
  outline: none;
  background: var(--no_project);
  margin: 30px 0 15px 0;
  width: 100%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: var(--project);;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: var(--project);;
  cursor: pointer;
}

.ticksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10px;
  padding: 0 10px;
}

.ticks {
  background-color: #4c4c4c;
  width: 1px;
  height: 5px;
}

.labels {
  width: 10px;
  height: 10px;
}

.bubble {
  height: 100%;
  width: 50px;
  margin: 0 0 0 20px;
  padding: 4px 12px;
  border-radius: 4px;
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--no_project);
}

.map {
  height: 90%;
  width: 100%;
}

.dateTimeInput {
  border-radius: 10px !important;
  border: 1px solid var(--project) !important;
  height: 8vh !important;
  margin: 2% !important;
  padding: 0px 10px !important;
}